body{


background-color:rgb(65, 62, 78);

}


.todo-list{

text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin: 75px;


}


h1{

  font-size: 4rem;
  color:rgb(245, 230, 208);

}


button{


  color:rgb(245, 230, 208);
  font-size: 1.5rem;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
  border:none;
  cursor:pointer;
  transition: background-color 0.5s ease;

}



.addbutton{


  background-color: hsl(120, 30%, 48%);
  
}


.addbutton:hover{

  background-color: hsl(120, 23%, 36%);


}


.delbutton{

  background-color: hsl(0, 43%, 48%);


}

.delbutton:hover{

  background-color: hsl(0, 43%, 34%);


}

.moveupbutton{

  background-color: hsl(240, 45%, 59%);

}


.movedownbutton{

  background-color: hsl(240, 45%, 59%);

}


.moveupbutton:hover{

  background-color: hsl(240, 45%, 43%);
}


.movedownbutton:hover{

  background-color: hsl(240, 45%, 43%);
}




input[type = "text"]{

color:hsla(60, 1%, 14%, 0.616);
font-size: 1.6rem;

padding:10px;

border: 2px solid rgb(70, 64, 64);


}

ol{

padding: 0;

}


li{


font-size: 2rem;
font-weight: bold;
padding: 15px;
background-color:bisque;
margin-bottom: 10px;
border: 3px solid hwb(0 11% 89% / 0.651);
border-radius: 5px;
display: flex;
align-items: center;


}


.text{
    /* the text within the list element will grow and shrink with web browser size  */
  flex: 1;
}